In [1]:
# Flask App: This app serves two purposes:
# 1.) Serve html and javascript files to the user. 
# 2.) Query the remote database and deliver JSON data 
#     for our javascript files to interact with

from flask import Flask, jsonify, render_template
from sqlalchemy import create_engine, desc, func
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import sessionmaker
import pandas as pd

# SQL setup

# Connect to remote sql database
engine = create_engine('postgresql://football:1234@134.209.211.173/football')

# ORM setup
Base = automap_base()
Base.prepare(engine,reflect=True)
Session = sessionmaker()
Session.configure(bind=engine)

Info = Base.classes.info
Players = Base.classes.player
Draft = Base.classes.draft
College = Base.classes.college
Combine = Base.classes.combine
Teams = Base.classes.teams

In [5]:
sesh = Session()
df = pd.read_sql(sesh.query(College).statement, sesh.bind)

In [6]:
df.head()

   player_id          School  Conf
0          0     Boston Col.  None
1          1          Oregon  None
2          2  South Carolina  None
3          3          Oregon  None
4          4   Florida State  None

In [18]:
df['School'].value_counts()

Alabama                     67
Ohio State                  64
LSU                         54
Clemson                     48
Florida                     43
                            ..
Northern Colorado            1
Northwestern St. (LA)        1
Malone University (Ohio)     1
Penn                         1
Valdosta State               1
Name: School, Length: 239, dtype: int64

In [17]:
df.iloc[0]['Conf'] == None

True